/*body{
background-color:black;

}
#i1{
    width:1000px;
    height: 500px;
    align-self: center;
    margin-left: auto;
    
}

div{
background-color:rgb(253, 253, 253);
}

p{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: rgb(214, 10, 10);
}
a{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(23, 2, 178, 0.877);
   align-items: center;
} */
